In [13]:
import numpy as np

In [1]:
import pandas as pd

df = pd.read_csv('car_prices.csv')

In [3]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 558837

In [4]:
df = df[df['make'].notna() & (df['make'].str.strip() != '')] #drop null values in 'make' column

In [5]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548536

In [6]:
df = df[df['model'].notna() & (df['model'].str.strip() != '')]  # drop null or blank values in 'model' column

In [7]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548438

In [8]:
# Replace blank or null values in 'trim' and 'body' columns with "Other"
df['trim'] = df['trim'].fillna('').replace(r'^\s*$', 'Other', regex=True)
df['trim'] = df['trim'].replace('', 'Other')

df['body'] = df['body'].fillna('').replace(r'^\s*$', 'Other', regex=True)
df['body'] = df['body'].replace('', 'Other')

In [9]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548438

In [12]:
print(df[df['transmission'].str.lower() != 'automatic'])

        year       make             model               trim      body  \
35      2014      Buick            Verano  Convenience Group     Sedan
44      2014  Chevrolet             Cruze                1LT     Sedan
62      2015     Nissan             Versa             1.6 SL     Sedan
89      2014  Chevrolet  Silverado 2500HD         Work Truck  Crew Cab
102     2014  Chevrolet            Camaro                 LS     Coupe
...      ...        ...               ...                ...       ...
558820  2014      Dodge           Charger                 SE     Sedan
558825  2011     Subaru          Forester               2.5X       suv
558829  2012    Hyundai           Elantra            Limited     Sedan
558830  2012     Nissan            Sentra             2.0 SR     Sedan
558832  2015        Kia              K900             Luxury     Sedan

       transmission                vin state  condition  odometer   color  \
35              NaN  1g4pr5sk8e4175320    ca        2.0   19531.0    gray
44              NaN  1g1pc5sb6e7128803    ca        NaN   38261.0   white
62           manual  3n1cn7ap7fl842707    ca       39.0    1608.0  purple
89              NaN  1gc1kvc84ef152736    ca       36.0    8742.0   white
102          manual  2g1fe1e34e9190976    ca       44.0    7924.0   white
...             ...                ...   ...        ...       ...     ...
558820          NaN  2c3cdxbg9eh324236    va       42.0   22744.0   white
558825       manual  jf2shbac9bg741815    ca       41.0   71693.0  silver
558829          NaN  5npdh4ae7ch106397    pa        4.0   66720.0    gray
558830          NaN  3n1ab6ap3cl622485    tn       26.0   35858.0   white
558832          NaN  knalw4d4xf6019304    in       45.0   18255.0  silver

       interior                                             seller      mmr  \
35         gray  enterprise vehicle exchange / tra / rental / t...  15000.0
44            â€”                                           avis tra  11450.0
62        black                                 nissan-infiniti lt  10900.0
89         gray         enterprise fleet management exchange  inc.  34000.0
102       black                                   tdaf remarketing  17850.0
...         ...                                                ...      ...
558820    black                              hertz corporation/gdp  16250.0
558825    black                    remarketing by ge/billion dodge  12300.0
558829     gray                                     champion mazda  10250.0
558830     gray                                 nissan-infiniti lt   9950.0
558832    black                                   avis corporation  35300.0

        sellingprice                                 saledate
35            9200.0  Tue Jan 06 2015 04:00:00 GMT-0800 (PST)
44            2000.0  Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
62           11000.0  Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
89           34000.0  Thu Dec 18 2014 11:30:00 GMT-0800 (PST)
102          18500.0  Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
...              ...                                      ...
558820       15900.0  Wed Jul 08 2015 07:15:00 GMT-0700 (PDT)
558825       11750.0  Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558829       10400.0  Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
558830       10400.0  Wed Jul 08 2015 17:15:00 GMT-0700 (PDT)
558832       33000.0  Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)

[80604 rows x 16 columns]

In [14]:
df['transmission'] = df['transmission'].replace(r'^\s*$', np.nan, regex=True)

In [28]:
df['transmission'] = df['transmission'].replace(r'^\s*$', np.nan, regex=True)

In [32]:
df['transmission'] = df['transmission'].apply(
    lambda x: x if str(x).strip().lower() in ['automatic', 'manual'] else np.nan
)

In [15]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548438

In [16]:
for col in ['vin', 'state', 'color', 'interior', 'seller']:
    df[col] = df[col].fillna('').replace(r'^\s*$', 'Other', regex=True)
    df[col] = df[col].replace('', 'Other')

In [17]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548438

In [18]:
for col in ['condition', 'odometer', 'mmr', 'sellingprice']:
    df[col] = pd.to_numeric(df[col], errors='coerce') 
    mean_val = df[col].mean()
    df[col] = df[col].fillna(mean_val)

In [19]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 548438

In [24]:
df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')
df = df[df['saledate'].notna()]
df['saledate'] = df['saledate'].dt.strftime('%d-%m-%Y %H:%M:%S')

C:\Users\ITPARK\AppData\Local\Temp\ipykernel_1992\161118695.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['saledate'] = pd.to_datetime(df['saledate'], errors='coerce')

In [29]:
number_of_rows = len(df)
print("Number of rows:", number_of_rows)

Number of rows: 388417

In [33]:
print(df.head())

   year   make                model        trim   body transmission  \
0  2015    Kia              Sorento          LX    SUV    automatic
1  2015    Kia              Sorento          LX    SUV    automatic
2  2014    BMW             3 Series  328i SULEV  Sedan    automatic
3  2015  Volvo                  S60          T5  Sedan    automatic
4  2014    BMW  6 Series Gran Coupe        650i  Sedan    automatic

                 vin state  condition  odometer  color interior  \
0  5xyktca69fg566472    ca        5.0   16639.0  white    black
1  5xyktca69fg561319    ca        5.0    9393.0  white    beige
2  wba3c1c51ek116351    ca       45.0    1331.0   gray    black
3  yv1612tb4f1310987    ca       41.0   14282.0  white    black
4  wba6b2c57ed129731    ca       43.0    2641.0   gray    black

                                   seller      mmr  sellingprice  \
0                 kia motors america  inc  20500.0       21500.0
1                 kia motors america  inc  20800.0       21500.0
2  financial services remarketing (lease)  31900.0       30000.0
3                 volvo na rep/world omni  27500.0       27750.0
4  financial services remarketing (lease)  66000.0       67000.0

              saledate
0  16-12-2014 12:00:00
1  16-12-2014 12:00:00
2  15-01-2015 04:00:00
3  29-01-2015 04:00:00
4  18-12-2014 12:00:00

In [34]:
df.to_csv('car_prices_cleaned.csv', index=False)