In [1]:
import pandas as pd
customers = pd.DataFrame({
    'customer_id1': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'Diana']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103],
    'customer_id': [1, 2, 1]
})

In [4]:
df = pd.merge(customers, orders, left_on='customer_id1', right_on='customer_id', how='left')
df[df['order_id'].isna()]['name']
df = df.drop(columns=['customer_id'])
df

   customer_id1     name  order_id
0             1    Alice     101.0
1             1    Alice     103.0
2             2      Bob     102.0
3             3  Charlie       NaN
4             4    Diana       NaN

In [11]:
#Find sudden temperature drops, use diff() function
df = pd.DataFrame({
    'date': pd.date_range(start='2024-01-01', periods=7),
    'temperature': [30, 28, 27, 15, 14, 25, 10]
})

df['temp_diff'] = df['temperature'].diff()
df['sudden_drop'] = df['temp_diff'] < -10
df

        date  temperature  temp_diff  sudden_drop
0 2024-01-01           30        NaN        False
1 2024-01-02           28       -2.0        False
2 2024-01-03           27       -1.0        False
3 2024-01-04           15      -12.0         True
4 2024-01-05           14       -1.0        False
5 2024-01-06           25       11.0        False
6 2024-01-07           10      -15.0         True